    html {
        scroll-behavior: smooth;
    }

    .navbar {
        background: rgba(0, 0, 0, 0.4);
        transition: 0.3s;
        background-color: #111 !important;
        transition: 0.3s;
    }

    .navbar.scrolled {
        background-color: #111 !important;
    }

    .hero {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }

    .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/nova_central_lages/img/igrejaproximo.jpeg") center/cover no-repeat;
    filter: blur(2px);
    transform: scale(1.1);
    z-index: 0;
    }

    .overlay {
        position: relative;
        background: rgba(0,0,0,0.6);
        padding: 50px;
        border-radius: 15px;
        z-index: 1;
    }

    .section-padding {
        padding: 100px 0;
    }

    .pix-card {
        background: linear-gradient(135deg, #f8f9fa, #ffffff);
    }
